<div class="contentGridContainer">
    <div class="copyrightsection">
        <p class="copyright">
            © 2023 by Sraban Patro
            
        </p>
    </div>
    <div class="contactSection">
        <div class="items">
            <div class="item">
                <div class="item-heading">
                    Call
                </div>
                <div class="item-content">
                    +91-700-853-2677
                </div>
            </div>
            <div class="item">
                <div class="item-heading">
                    Write
                </div>
                <div class="item-content">
                    <a href="mailto:reg.sraban@gmail.com">reg.sraban@gmail.com</a>
                </div>
            </div>
            <div class="item">
                <div class="item-heading">
                    Follow
                </div>
                <div class="item-content">
                    <div class="icon">
                        <a href="https://www.linkedin.com/in/srabankumarpatro" target=”_blank”>
                        <div class="linkedIn">
                        </div>
                    </a>
                    </div>
                    <div class="icon">
                        <a href="">
                        <div class="Website"></div>
                    </a>
                    </div>
                    <div class="icon">
                        <a href="https://www.instagram.com/me_striker/" target=”_blank”>
                        <div class="instagram"></div>
                    </a>
                    </div>
                    <div class="icon">
                    <a href="https://twitter.com/SrabanPatro29">
                        <div class="Twitter"></div> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
