:host {
    height: 100%;
    width: 100%;
}

header {
    height: 10vh;
}

main{
    height: 79vh;
    font-family: Arial, Arial, sans-serif;
}

footer{
    height: 9vh;
}

@media screen and (max-width:768px) {
    main{
        height: auto !important;
    }
}