<div class="container">
    <div class="container-template-content">
        <p-card class ="card card-left" header="" subheader="" styleClass="shadow-2">
            <ng-template pTemplate="header">
                <div class="profile_image_container">
                    <div class="profile-image">
                        <div class="stage">
                            <div class="box bounce-6">
                                <img class="profile-image-content" src="/assets/image/profile_image.png">
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <div class="name-tag">
                <div class="name-tag-content">
                    Sraban Kumar Patro
                </div>
            </div>
            <div class="line-separator">
                <hr class="solid">
            </div>
            <div class="role">
                <div class="role-content">FULL STACK DEVELOPER</div>
            </div>
            <ng-template pTemplate="footer">
                <div class="card-footer">
                    <div class="social-media">
                        <div class="icon" style="padding-left: 10%;">
                            <a href="https://www.linkedin.com/in/srabankumarpatro" target=”_blank”>
                                <div class="linkedIn">
                                </div>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="">
                                <div class="Website"></div>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="https://www.instagram.com/me_striker/" target=”_blank”>
                                <div class="instagram"></div>
                            </a>
                        </div>
                        <div class="icon" style="padding-right: 10%;">
                            <a href="https://twitter.com/SrabanPatro29">
                                <div class="Twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-template> 
        </p-card>

        <p-card class ="card card-right" header="" subheader="" styleClass="shadow-2">
            <ng-template pTemplate="header">
                <div class="inital-heading">
                    <div class="inital-heading-content">Hello</div>
                </div>
            </ng-template>
            <div class="introduction">
                <div class="introduction-content">
                   I'm a Full Stack Developer with over <b>2 years</b> experience.
                </div>
            </div>
            <div class="buttons-content">
                <div class="button">
                    <a href="/assets/files/Resume.pdf" target="_blank">
                        <button>
                            <div class="button-text">RESUME</div>
                        </button>
                    </a>
                </div>
                <div class="button">
                    <button class="button-project">
                        <div class="button-text">PROJECTS</div>
                    </button>
                </div>
            </div>
            <ng-template pTemplate="footer">
                <div class="about">
                    <div class="about-content">
                        Methodical and client focused full stack developer. Proficient with object-oriented programming languages as well as data structures and algorithms. Enjoys working with fun and collaborating team-mates.
                    </div>
                </div>
            </ng-template> 
        </p-card>
    </div>
</div>
